@tailwind base;
@tailwind components;
@tailwind utilities;


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* ::selection {
    background: #476369;
    color: #fff;
} */

html, body {
  height: 100vh;
  overflow: hidden;
}

h1 {
  margin: 0;
  margin-top: 110px;
  color: #bfd09e;
  font-size: 110px;
  font-family: acumin-pro, sans-serif;
  line-height: 84px;
  opacity: 0.5;
  letter-spacing: -6px;
}

p {
  margin: 0;
  color: #bfd09e;
  font-weight: 100;
  font-size: 16px;
  font-family: 'Agenda';
}

body,html {
  margin: 0;
  height: 100%;
  background: #202426;
}

.header-section {
  position: sticky;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  border: solid 10px white;
  height: 100vh;
  padding: 20px;
  z-index: 4;
}

.parent {
  overflow: scroll;
  height: 100vh;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

section {
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
}

.one {

}

.two {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  border: solid 10px white;
  height: 100%;
  padding: 20px;
}

.three {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  border: solid 10px white;
  height: 100%;
  padding: 20px;
}
.four {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  border: solid 10px white;
  height: 100%;
  padding: 20px;
}
.logo {
  position: absolute;
  width: 185px;
  margin-left: 30px;
  margin-top: 30px;
  z-index: 30;
}
.menu {
  position: absolute;
  width:25px;
  right: 40px;
  margin-top: 25px;
}
.border-inset {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    border: solid 10px white;
    height: 100%;
    padding: 20px;
    overflow: hidden;
  }

.slider {
  position: relative;
  margin-top: 10vh;
}
.slider-title {
  position: absolute;
  width: 600px;
  margin-left: 80px;
  z-index: 3;
}
.slider-title-bar {
  position: absolute;
  margin-left:30px;
  margin-top: 110px;
  background: red;
  width: 25px;
  height: 169px;
  overflow: hidden;
  z-index: 4;
}

.slider-image {
  position: absolute;
  background: red;
  width: 73%;
  height: 70vh;
  margin-left: 271px;
  z-index: 1;
}

.sub-slider-image {
  position: absolute;
  background: red;
  width: 93%;
  height: 80vh;
  margin-left: 27px;
  z-index: 1;
}

.myVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  z-index: 18;
}

.myVideoBar {
  height: 100%;
  overflow: hidden;
  z-index: 18;
}
.tracks {
  position: absolute;
  width: 730px;
  z-index: 20;
  margin-top: 320px;
  margin-left: -100px;
}
.social {
  position: absolute;
  z-index: 19;
  opacity: 0.7;
}
.social-email {
  position: absolute;
  margin-top: 70vh;
  height: 45px;
  display: inline-flex;
  margin-left: 110px;

}
.social-icon {
  padding: 7px;
  width: 30px;
}
.intro_bio {
  scroll-snap-type: y mandatory;
  height: 100vh
}

@media screen and (max-height:100px) {
  .social-email {
    position: absolute;
    margin-top: 10px;
    height: 40px;
    display: inline-flex;
    margin-left: 80vw;

  }
}
@media screen and (max-width:1100px) {
  .slider-image {
    width: 63%;
  }
}
@media screen and (max-width:900px) {
  .slider-image {
    width: 53%;

  }

}

@media screen and (max-width:700px) {
  #videoBG {
         display: none;
     }

  .logo {padding:5%;
    width: 70%; margin-top: 20px;}

  .slider-image {
    position: absolute;
    background: red;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    height: 300px;
    z-index: 1;
    margin-top: 40px;
  }
  .slider-title {
    margin-top: 150px;
    z-index: 3;
    margin-left: 0;
    width:100%;
    opacity: 0.8;
  }

  h1 {
    font-size: 100px;
    font-family: acumin-pro, sans-serif;
    line-height: 77px;
    opacity: 0.8;
    text-shadow: 1px 1px 40px black;
  }
  .tracks {
    position: absolute;
    width: 480px;
    z-index: 20;
    margin-top: 580px;
    margin-left: -100px;
  }
  .social-email {
    position: absolute;
    margin-top: 540px;
    height: 42px;
    display: inline-flex;
    margin-left: 200px;
  }
  .slider-title-bar {
    margin-left:0px;
    margin-top: 440px;
    width: 60px;
    height: 15px;
    overflow: hidden;
    z-index: 4;
  }
  .myVideoBar {
    height: 600%;
    overflow: hidden;
    z-index: 18;
  }
  .social-icon {
    padding: 10px;
  }

}

